.products {
background-color: tomato;
margin: 0;
padding: 0;
padding: 2rem 0;
box-sizing: border-box;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
}

.productsContainer{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 2rem;
}
.product{
    /* margin: 1rem; */
    width: 30%;
    background-color: aliceblue;

}